*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: 0 auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  padding: 133px 30px;
  max-height: 800px;
}
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

.content {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.result {
  padding-top: 78px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result__video-container {
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
}

.content__details {
  width: 100%;
  max-height: 534px;
  overflow: hidden;
}
.content__details {
  overflow-y: auto; /* или scroll для принудительной прокрутки */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE, Edge */
}

..content__details::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.content__list {
}

span.visually-hidden {
  display: none;
}

.content__video-card {
  display: flex;
  max-height: 103px;
  justify-content: space-between;
}

.title {
  font-family: Oswald;
  font-weight: 700;
  font-style: Bold;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding-block-end: 26px;
}

.content__list {
  display: grid;
  gap: 30px;
}

.content__list::-webkit-scrollbar {
  width: 0;
}

.content__list-item {
  max-width: 394px;
  max-height: 107px;
}

.content__list-item:active {
  background-color: #545050;
}

.content__list-item:hover {
  text-decoration: underline;
}

.search-form {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 5px;
}

.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0%;
}

p.content__video-card-description {
  text-transform: capitalize;
  padding-top: 6px;
}

.content__video-card-description-container {
  max-width: 200px;
  max-height: 101px;
  color: #ffffff;
}

.content__video-card-title {
  font-family: Oswald;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  max-width: 200px;
  max-height: 30px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  gap: 30px;
}

.button {
  height: 34px;
  background-color: #000000;
  color: #fff;
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  border: 1px solid #fff;
}

.more-button {
  width: 100%;
  padding: 0;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  padding: 0;
  margin-top: auto;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.content__accent::before {
  content: "по";
  color: #545050;
}

.content__accent::before::after {
  content: "-";
  color: #545050;
}
.content__accent {
  color: transparent;
  text-indent: 2ch;
}

.search-form__label:hover {
  cursor: pointer;
  text-decoration: underline;
}

.search-form__textfield {
  display: block;
  width: 225px;
  height: 27px;
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  color: #212529;
  background-color: #ffffff4f;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
}

.search-form__label:focus-within > *:focus-visible {
  outline: 1px solid rgb(0, 0, 0);
}

.search-form__checkbox-list {
  display: flex;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 2px;
}

. .search-form__label:focus-within {
  border: 1px solid #fff;
}

input[type="checkbox"] {
  appearance: none;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  background: inherit;
  cursor: pointer;
}

input[type="checkbox"]:active {
  background-color: #fff;
  border: 2px solid #000;
}

input[type="checkbox"]:checked {
  background-color: #fff;
  background-size: 14px;
}
